<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

        <title>{{ template.title }}</title>

        <link rel="stylesheet" href="/resources/main/stylesheets/main.css">

        {{ block('head') }}
    </head>
    <body>
        <div class="sticky-end">
            <div class="sticky-end-body">

                <div class="valign">
                    <div class="valign-body">
                        {% if not template.logo.src is not empty %}
                            <img class="logo"
                                src="{{ template.logo.src }}"
                                alt="{{ template.logo.title|default('') }}"
                                width="{{ template.logo.width|default('auto') }}"
                                height="{{ template.logo.height|default('auto') }}"
                            />
                        {% endif %}

                        {% if template.title %}
                            <h1 class="h4">{{ template.title }}</h1>
                        {% endif %}

                        {% if template.description %}
                            <p class="lead">{{ template.description }}</p>
                        {% endif %}

                        {% set content = block('content')|default('No content defined') %}
                        {% set footer = block('footer') %}

                        {% embed 'totem_submodules::totem.module.panel/partials/panel.twig' with {
                            panel_attributes: {
                                class: 'panel--popup'
                            }
                        } %}

                            {% block panel__main %}

                                {{ content }}

                            {% endblock %}

                        {% endembed %}

                        {{ footer is defined ? footer }}

                    </div>
                </div>
            </div>
        </div>
        {% block foot %}{% endblock %}
    </body>
</html>